body{
    background-image: url('https://img.freepik.com/free-vector/conference-hall-business-seminar-working-process-room-shareholders-skyscraper_1441-2167.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

}

